* {
}

html, body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#root {
  max-height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: #ce93d8;
}

.sidebar {
  width: 25vw;
  height: 100vh;
}

.sidebar-user {
  display: flex;
  padding: 15px;
  cursor: pointer;
}

.user-active {
  background-color: #484d6f;
}

.sidebar-user:hover {
  background-color: #303030;
}

.user-active:hover {
  background-color: #484d6f;
}

.chat-input-bar {
  display: flex;
  background-color: #303030;
  min-height: 60px;
  max-height: 100px;
  align-items: center;
  width: 95%;
  padding: 5px 0;
  margin: 10px auto;
  border-radius: 40px;
}
