* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
}

a {
  text-decoration: none;
  color: #ce93d8;
}

.sidebar {
  width: 25vw;
  height: 100vh;
}

.sidebar-user {
  display: flex;
  padding: 15px;
  cursor: pointer;
}

.sidebar-user:hover {
  background-color: #303030;
}
