html, body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  color: #fff;
}

a {
  text-decoration: none;
  color: #ce93d8;
}

.chat-input-bar {
  display: flex;
  background-color: #303030;
  min-height: 60px;
  max-height: 100px;
  align-items: center;
  width: 95%;
  padding: 5px 0;
  margin: 10px auto;
  border-radius: 40px;
}
